

body {
  background-image: url('../image/forum-background.jpg');
  background-size: cover;
}

/*Button design: universal*/
.loginButton, .forumButton, .submitButton, .resetButton {
	background: #f1592a;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
  margin-right: 16px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

/*Button design in hover state: universal*/
.loginButton:hover, .forumButton:hover, .submitButton:hover, .resetButton:hover {
	background: #c84c26;
}

.regNow {
  text-transform: uppercase;

}

.clear {
  clear: both;
}

.register, .login {
  max-width: 720px;
	margin: 30px auto;
	background: #04AA6D;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 105px;
}

.container-reg, .container-log {
  min-height: 0px;
  background: #E8E8E8;
	border: 1px solid rgb(2, 211, 124);
	border-radius: 5px;
	padding: 5px 10px
}

.container-reg > h1, .login > h1, .register > h1, .container-comment > h1 {
  color: #fff;
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 26px;
}

.register > h1, .login > h1, .container-comment > h1 {
  text-align: center;
}

.regUsername, .logUsername, .regPassword, .logPassword {
  background: #f1592a;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}

.container-comment {
	max-width: 80%;
	margin: 20px auto;
	background: #04AA6D;
	border-radius: 8px;
	padding: 10px;
}

.comments {
  overflow: scroll;
  height: 300px;
  background: #E8E8E8;
	border: 1px solid rgb(2, 211, 124);
	border-radius: 5px;
	padding: 5px 10px
}

.printUsername {
  background: #f1592a;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 14px;
	border-radius: 5px;
}

.printComment, .printNoComment {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

#comment_user {
  color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 0px;;
}

#comment {
	width: 90%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
  resize: none;
  height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
