body{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #57ba98;
    padding: 0 1.5rem;
    color: #182628;
    font-size: 24px;
    font-family: 'Lucida Sans', monospace; 
}


.topic{
    width: 100%;
    background-color: #3b945e;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid #f2f2f2;
}

.card{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 50px;
    box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.2);
    display: block;
    margin-bottom: 10px;
    border-radius: .8rem;
    border: 3px solid #3b945e;
}

img{
    width: 100%;
    height: auto;
}

.title{
    width: 100%;
    display: block;
    text-decoration-color: #182628;
}

.button{
    border: none;
    background-color: #182628;
    padding: 16px 32px;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Lucida Sans', monospace; 
}

.button1{
    background-color: #182628;
    color: #f2f2f2;
    border: 2px solid #3b945e;
}
.button1:hover{
    background-color: #65ccb8;
    color: white: 
}

.button2{
    background-color: goldenrod;
    border-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    margin: 5px 5px;
    cursor: pointer;
}

.container{
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 10rem;
}

.onoffswitch3
{
    position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-bottom: 10px;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    padding-left: 16px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: red; left: 0;
    width: 160px;
}
.onoffswitch3-inactive{
    background: #A1A1A1; right: 0;
    width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.glyphicon-remove{
    padding: 3px 0px 0px 0px;
    color: #fff;
    background-color: #000;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.scroll-text{
    color: #000;
}
